body {
    background-image: linear-gradient(to right bottom, #051937, #002235, #00282a, #102b1f, #272c1b);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 300px;
}

@font-face {
    font-family: FnafFont;
    src: url(5Computers-In-Love.ttf);
}

@font-face {
    font-family: Slipknot;
    src: url(Sickness.ttf);
}

@font-face {
    font-family: TheFlash;
    src: url(Elements.ttf);
}

@font-face {
    font-family: Porsche;
    src: url(911porschav3.ttf);
}

@font-face {
    font-family: God;
    src: url(GODOFWAR.TTF);
}

.fontefnaf{
    font-family: FnafFont;
}

.fonteslip{
    font-family: Slipknot;
}

.fonteflash{
    font-family: TheFlash;
}

.fonteporsche{
    font-family: Porsche;
    font-size: 13px;
}

.sidebar {
    position: fixed;
    top: 70px;
    z-index: 1002;
    width: 100px;
    overflow-x: hidden;
    left: 0;
    transition: all 0.3s;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100px;
}

/* Add media query for responsiveness */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar-link {font-size: 18px;}
}

.sidebar-link-menu {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.sidebar-link {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #CF1020;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

.menu {
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.menu:hover{
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: 0.1s;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
}

.menu-item:hover {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.portfolio {
    font-family: God;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0; /* Change this value to 0 or any other value that suits your design */
    font-weight: bold;
    font-size: 50px;
    color: white;
    background: #CF1020;
    position: sticky;
    width: 100%;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    margin: 0;
    font-family: Axe;
    padding-left: 0;
}

.container {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
}

.text {
    flex: 1;
}

.content {
    flex: 1;
    border: 1px solid white;
    border-radius: 10px;
}

.fnaf-img {
    width: 100%; /* Ensures the image takes the full width of its container */
    height: auto; /* Maintains the image's aspect ratio */
    border-radius: 10px;
}

.fnaf {
    font-family: FnafFont;
    color: rgb(155, 0, 0);
}

.slipknot {
    font-family: Slipknot;
    color: white;
    font-size: 30px;
}

.fnaf-text {
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Inter', sans-serif;
}

.fnaf-button {
    font-family: FnafFont;
    width: 90px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
    background: rgb(155, 0, 0);
}

.fnaf-button:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.slipknot-button {
    font-family: Slipknot;
    font-size: 20px;
    width: 90px;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
    background: red;
}

.slipknot-button:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.theflash {
    font-family: TheFlash;
    color: white;
    font-size: 30px;
}

.theflash-button {
    font-family: TheFlash;
    font-size: 20px;
    width: 90px;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
    background: #CF1020;
}

.theflash-button:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.porsche {
    font-family: Porsche;
    color: white;
}

.porsche-button {
    font-family: Porsche;
    font-size: 20px;
    width: 90px;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
    background: gray;
}

.porsche-button:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.container-members {
    width: 67%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 350px;
}

.upper-left {
    display: flex;
    align-items: center;
    border: 1px solid white;
    -moz-transition: all 0.2s;
    -webkit-transition: all;
    transition: all 0.2s;
    background: black;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.upper-right {
    display: flex;
    align-items: center;
    border: 1px solid white;
    -moz-transition: all 0.2s;
    -webkit-transition: all;
    transition: all 0.2s;
    background: black;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.bottom-left {
    display: flex;
    align-items: center;
    border: 1px solid white;
    -moz-transition: all 0.2s;
    -webkit-transition: all;
    transition: all 0.2s;
    background: black;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.bottom-right {
    display: flex;
    align-items: center;
    border: 1px solid white;
    -moz-transition: all 0.2s;
    -webkit-transition: all;
    transition: all 0.2s;
    background: black;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.container-image {
    flex: 0 0 50%;
    max-width: 50%;
}

.image-avatar {
    max-width: 100%;
    border-radius: 10px;
}

.avatar-h2 {
    color: white;
    text-align: center;
    font-family: Roboto, Arial;
}

.container-text {
    flex: 1;
    text-align: left;
    height: 100%;
    max-height: 100%;
}

h1 {
    font-family: Roboto, Arial;
    font-size: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 25px;
}

.member-text {
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    font-family: Roboto, Arial;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;
}

.github-icon {
    height: 40px; 
    margin-right: 5px;
    transition: all 0.4s;
}

.github-icon:hover {
    height: 45px;
}

.xda-icon {
    height: 35px; 
    margin-right: 5px;
    transition: all 0.4s;
}

.xda-icon:hover {
    height: 40px;
}

.telegram-icon {
    height: 40px;
    transition: all 0.4s;
}

.telegram-icon:hover {
    height: 45px;
}

.about-us {
    font-family: 'Inter', sans-serif;
}